<%- include('partials/header') -%>

  <h1>Home</h1>
  <p><%= homeContent %></p>

  <% newBlogPost.forEach(function(blogPost){ %>
      <h1> <%= blogPost.postTitle %> </h1>
      <p> <%= blogPost.postBody %> </p>
  <% }); %>

<%- include('partials/footer') -%>
